body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 24px;
    letter-spacing: normal;
}
#head{
    top: 0;
    width: 100%;
    height: 64.8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.head-middle{
    width: 553px;
    height: 64px;
    display: inline;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.head-right{
width: 140.5px;
height: 64px;
padding-top: 23px;
}
.sign{
    background-color: black;
    color: azure;
    height: 41.2px;
    width: 111.5px;
    border-radius: 4px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.t1{
    color: #000;
        font-size: 17px;
        font-weight: 500;
        text-decoration: solid;
       
}
hr{
    margin: 0;
}
.main{
    height: 786px;
width: 1280px;
margin-left: 121px;
}
.main-text{
    font-size: 48px;
        line-height: 62px;
        font-weight: 600;
    font-style: normal;
    color: #00a264;
    text-align: center;
    margin: 32px;
}
.main-middle{
    height: 362px;
width: 1280px;
display: flex;

}
.middle{
    width: 395px;
    height: 360px;
}
.middle-middle{
    width: 484px;
    height: 360px;
}
span{
    text-decoration: underline;
    color: #00a264;
}
.top{
    height: 32px;
width: 324px;
font-size: 8px;
text-align: center;
line-height: 16px;
padding-left: 73px;
}
.acc{
    margin-bottom: 10px;
    height: 40px;
width: 324px;
}
.p1{
    margin-left: 10px;
}
.sub-text{
    font-size: 30px;
        line-height: 62px;
        font-weight: 400;
    font-style: normal;
    color: #000000;
    text-align: center;
    margin-top:25px;
    margin-bottom: 10px;
}
.small-text{
    text-align: center;
    font-size: small;
    font-weight: lighter;
    font-size: 15px;
    margin:0;
}
.search{
    height: 149px;
width: 1248px;
display: flex;
align-items: center;
justify-content: center;
}
.extent{
    height: 101px;
width: 312px;
padding-left: 81px;
}
.im{
    padding-left: 38px;
}
.start-your-search{
    height: 176px;
width: 1519.2px;
background-color:  #F5F6F7;
}
.pluck{
    font-size: 18px;
    line-height: 28px;
    color: #505863;
    text-align: center;
}
.sock{
    margin-left: 50%;
}
.about{
    height: 334.6px;
width: 1519.2px;
display: flex;
justify-content: center;

}
.lower{
    height: 240px;
    width: 240px;


}
.company{
    display: flex;
    flex-direction: column;
}
li{
    list-style-type:none;
}
.hori{
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 250px 300px 250px;
    justify-content: center;
}
.app{
   width: 213px;
   height: 40px; 
   display: flex;
}

.dot{
    width: 20px;
}
#do{
    text-align: center;
    margin-top: 10px;
}
.media{
    justify-self: center;
}
#country{
    width: 200px;
    height: 35px;
    border-radius: 5px;

}
.dropdown{
    justify-self: end;
}
select{
    font-size:15px;
}
h5{
    text-align: center;
    font-weight: 200;
    font-size: medium;
}